body {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: #444444;
  line-height: 1;
  max-width: 960px;
  padding: 30px;
  counter-reset: section;
}

h2 {
  counter-reset: sub-section;
}

h3 {
  counter-reset: detail;
}

h1 {
  font-size:400%;
  text-align: center;
}

h1, h2 {
  color: #3366FF
}

h2:before {
  content: counter(section) ". ";
  counter-increment: section;  /* Add 1 to section */
}

h3:before {
  content: counter(section) "." counter(sub-section) ". ";
  counter-increment: sub-section;  /* Add 1 to sub-section */
}

h4:before {
  content: counter(section) "." counter(sub-section) "." counter(detail) ". ";
  counter-increment: detail;  /* Add 1 to detail */
}

dl {
  margin-bottom:50px;
}
 
dl dt {
  background:#5f9be3;
  color:#fff;
  float:left; 
  font-weight:bold; 
  margin-right:10px; 
  padding:5px;  
  width:150px; 
}
 
dl dd {
  margin:2px 0; 
  padding:5px 0;
}

blockquote {
  border-left:.5em solid #eee;
  padding: 0 2em;
  margin-left:0;
  max-width: 476px;
}
blockquote  cite {
  font-size:14px;
  line-height:20px;
  color:#bfbfbf;
}
blockquote cite:before {
  content: '\2014 \00A0';
}

blockquote p {  
  color: #666;
  max-width: 460px;
}

table, th, td {
  border: 1px solid black;
}

th {
  background:#5f9be3;
  color:#fff;
  font-weight:bold; 
  margin-right:10px; 
  padding:5px;  
  width:100px; 
  text-align:left
}

table {
  border-collapse:collapse;
}
